{% include "head.html" %}
{% block body %}
{% include "top_nav.html" %}
<!-- DO NOT ADD ANYTHING ABOVE THIS LINE -->

<section class="page-section" id="frt-systems">
  <div class="container">
    <div class="text-left">
      <h2 class="section-heading text-uppercase">About Panoptic</h2>
      <p>Internet Freedom Foundation’s Project Panoptic aims to bring transparency and accountability to the relevant government stakeholders involved in the deployment and implementation of facial recognition technology (FRT) projects in India.</p>

      <p>This project has been successful due to the efforts of a handful of volunteers from DataKind along with IFF's team.</p>
    </div>
  </div>
</section>

<!-- DO NOT ADD ANYTHING BELOW THIS LINE -->
{% endblock %}
{% include "foot.html" %}