  <footer class="footer bg-light">
    <div class="row">
      <div class="col-2">
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item border-bottom-0 bg-light"><a class="text-dark" href="{{ url_for('root') }}">Home</a></li>
          <li class="list-group-item border-bottom-0 bg-light"><a class="text-dark" href="https://blocksurvey.io/survey/1PfQfn62JSDjjyK4nuHoY5t21wKeuocLLm/9999d60d-06bb-4737-9754-c42be1f7e630" target="_blank">Petition</a></li>
          <li class="list-group-item border-bottom-0 bg-light"><a class="text-dark" href="https://internetfreedom.in/tag/project-panoptic/" target="_blank">Articles</a></li>
          <li class="list-group-item border-bottom-0 bg-light"><a class="text-dark" href="{{ url_for('about') }}">About</a></li>
        </ul>
      </div>
      <div class="col-8">
        <p>Panoptic</p>
        <p>
          <a href="https://internetfreedom.in/">
            <img style="width: 48px;" src="{{ url_for('static', filename='img/iff_favicon.png') }}" />
          </a>
            ♡
          <a href="https://www.datakind.org/chapters/datakind-blr">
            <img  src="{{ url_for('static', filename='img/dk_favicon.ico') }}" />
          </a>
        </p>
      </div>
      <div class="col-2">
        <p>Internet Freedom Foundation</p>
        <p>
          <a target="_blank" href="https://twitter.com/internetfreedom"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="https://internetfreedom.in"><i class="fas fa-link"></i></a>
          <a target="_blank" href="https://forum.internetfreedom.in/"><i class="fab fa-forumbee"></i></a>
        </p>
        <p>DataKind Bangalore</p>
        <p>
          <a target="_blank" href="https://twitter.com/DataKindBLR"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="http://www.meetup.com/DataKind-Bangalore"><i class="fab fa-meetup"></i></a>
          <a target="_blank" href="https://dkblr-slack.herokuapp.com/"><i class="fab fa-slack"></i></a>
        </p>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JS-->
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Contact form JS-->
  <!-- <script src="assets/mail/jqBootstrapValidation.js"></script> -->
  <!-- <script src="assets/mail/contact_me.js"></script> -->
  <!-- Core theme JS-->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>
