{% include "head.html" %}
{% block body %}
{% include "top_nav.html" %}
<!--
  Sections on this page

  #home
  #frt-systems
  #submit-frt
  #case-studies
  #about
-->
<!-- DO NOT ADD ANYTHING ABOVE THIS LINE -->


<!-- Map + Data -->
<section class="page-section" id="#">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-md-8 col-sm-12">
        {{ data['iframe'] | safe }}
      </div>
      <div class="col-md-4 col-sm-12 overflow-auto" style="height: 100vh;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">State</th>
              <th scope="col" class="text-right"># of FRTs</th>
            </tr>
          </thead>
          <tbody>
          {% for state in data['states'] %}
            <tr>
              <th scope="row"><a href="/state/{{ state['st_nm'] }}">{{ state['st_nm'] }}</a></th>
              <td class="text-right">{{ state['Count of FRT Systems'] }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="frt-systems">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">FRT Systems in India</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <span>54</span>
        </span>
        <h4 class="my-3">Total FRT Systems</h4>
        <p class="text-muted">lorem impsum</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <span>16</span>
        </span>
        <h4 class="my-3">National FRT Systems</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <span>38</span>
        </span>
        <h4 class="my-3">State-wise FRT Systems</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- FRT Systems -->
<section class="page-section" id="frt-systems">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">What are FRT Systems?</h2>
    </div>
    <div class="row">
      <p>As Smriti Parsheera explains in her recent paper, the process of FRT can be summarised in the following steps:</p>
      <ul>
        <li>Detection of face in an image and/or video. For instance, phone cameras apply this feature when they auto-focus on a face while capturing a photo.</li>
        <li>Extraction of particular features from the detected image.</li>
        <li>Recognition which results in either identification or verification of an individual.</li>
      </ul>
      <p>Identification happens when FRT is used to identify an individual from a pool of many people. This kind of 1:many FRT based identification is typically used for security and surveillance purposes. Verification, on the other hand, occurs when an image is compared to another image from an existing database in order to verify that the individual is who he/she claims to be, i.e., authentication of identity on a 1:1 basis.</p>    
    </div>
  </div>
</section>


<!-- DO NOT ADD ANYTHING BELOW THIS LINE -->
{% endblock %}
{% include "foot.html" %}