{% include "head.html" %}
{% block body %}
{% include "top_nav.html" %}
<!--
  Sections on this page

  #home
  #frt-systems
  #submit-frt
  #case-studies
  #about
-->
<!-- DO NOT ADD ANYTHING ABOVE THIS LINE -->


<!-- Masthead-->
<header class="masthead" class="page-section" id="home">
  <div class="container">
    <div class="masthead-subheading">Project Panoptic</div>
    <div class="masthead-heading text-uppercase">Tracking FRT Systems in India</div>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#frt-systems">What are FRT Systems?</a>
  </div>
</header>

<!-- FRT Systems -->
<section class="page-section" id="frt-systems">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">What are FRT Systems?</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    </div>
  </div>
</section>

<section class="page-section" id="#">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">FRT Systems in India</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <span>54</span>
        </span>
        <h4 class="my-3">Total FRT Systems</h4>
        <p class="text-muted">lorem impsum</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i> -->
          <span>16</span>
        </span>
        <h4 class="my-3">National FRT Systems</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <span>38</span>
        </span>
        <h4 class="my-3">State-wise FRT Systems</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
    <div class="row text-center">

      <div class="custom-container">
        <!-- Option 1 - Rending from another html -->
        <iframe class="folium-iframe" src="/map" width="600" height="700" style="border:none !important;"></iframe>
        
        <!-- Option 2 - Rending from generated string -->
        <!-- <iframe class="folium-iframe" src="about:blank" width="600" height="700" style="border:none !important;" data-html={{ iframe_map }} onload="this.contentDocument.open();this.contentDocument.write(atob(this.getAttribute('data-html')));this.contentDocument.close();" "allowfullscreen" "webkitallowfullscreen" "mozallowfullscreen"></iframe> -->
      </div>
    </div>
  </div>
</section>

<!-- Submit an FRT -->
<section class="page-section" id="submit-frt">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Submit an FRT</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="text-center">
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/submit_frt">Submit an FRT</a>
    </div>
  </div>
</section>

<!-- Case Studies -->
<section class="page-section" id="case-studies">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Case Studies</h2>
    </div>
    <div class="text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/case_studies">View Case Studies</a>
    </div>
  </div>
</section>

<!-- About -->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About Us</h2>
    </div>
    <div class="text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/about">Know More</a>
    </div>
  </div>
</section>

<!-- DO NOT ADD ANYTHING BELOW THIS LINE -->
{% endblock %}
{% include "foot.html" %}