{% include "head.html" %}
{% block body %}
{% include "top_nav.html" %}
<!-- DO NOT ADD ANYTHING ABOVE THIS LINE -->

<section class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ state['name'] }}</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-12">
        <span class="fa-stack fa-4x">
          <span>{{ state['total_frts'] }}</span>
        </span>
        <h4 class="my-3">Total FRT Systems</h4>
      </div>
      <div class="col-md-3 col-sm-12">
        <span class="fa-stack fa-4x">
          <span>{{ state['financial_outlay_cr'] }} Cr</span>
        </span>
        <h4 class="my-3">Finacial Outlay</h4>
      </div>
      <div class="col-md-3 col-sm-12">
        <span class="fa-stack fa-4x">
          <span>{{ state['total_in_use'] }}</span>
        </span>
        <h4 class="my-3">In Use</h4>
      </div>
      <div class="col-md-3 col-sm-12">
        <span class="fa-stack fa-4x">
          <span>{{ state['total_not_in_use'] }}</span>
        </span>
        <h4 class="my-3">Not In Use</h4>
      </div>
    </div>
  </div>
</section>


<section class="page-section">
  <div class="container">
    <div class="text-center">
      <h4 class="section-heading text-uppercase">FRT Systems in {{ state['name'] }}</h4>
    </div>

    <div class="row">

      {% for frt in state['frts'] %}
        <div class="col-md-6 col-sm-12 my-3">      
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ frt['name'] }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Purpose: {{ frt['purpose'] }}</h6>
              <p class="card-text">Report Use On: {{ frt['report_use_on'] }}</p>
              {% if frt['rti_filed_on']: %}
                <p class="card-text">RTI Filed On: {{ frt['rti_filed_on'].strftime('%B %Y') }}</p>
              {% endif %}
              <a href="{{ frt['media_source'] }}" target="_blank" class="card-link">View Media Source</a>
            </div>
          </div>
        </div>
      {% endfor %}

  </div>
</section>

<!-- DO NOT ADD ANYTHING BELOW THIS LINE -->
{% endblock %}
{% include "foot.html" %}